    {% load static %}
      <div class="site-section bg-image" style="background-image: url('{% static 'images/astronaut5.jpg' %}')">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 mx-auto text-center align-self-center">
            <h1 class="font-weight-bold mb-0 text-white">The Astronaut Blog</h1>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iure possimus cum illum ab accusantium, aliquid, delectus tempora.</p>
            <p><a href="#start" class="btn btn-primary px-4 py-3">View All Here</a></p>
          </div>
        </div>

      </div>
    </div>